
{% extends 'Homepage.html' %}

{% block content %}
    <style>
      .btn {
      flex: 1 1 auto;
      margin: 10px;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
     
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
     }


    .btn-grad {background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%)}
    .btn-grad:hover { background-position: right center; }
    .btn:hover {
      background-position: right center;
    }

    .btn-3 {
      background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
    }

    </style>  
    <div class="container" style=" margin-top:80px;">
      
      <center><h4 style="color: green">Delete Items</h4></center><br>
          <form class="col-lg-12 offset-lg-3" method="post" action="">
                <div class="form-group row">
                  <label class="col-sm-1 col-form-label">Categories:</label>

                  <div class="col-sm-5">
                    <div class="input-group mb-3">
                    <select class="custom-select">
                      <option selected>choose category</option>
                      {% for each in mycategories %}
                        

                      {% endfor %}
                    </select>
                  
                </div>
              </div>
                <div class="container">
              
              <button type="button" class="btn btn-3" data-toggle="modal" data-target="#myModal">Delete Item</button>
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content"> 
                    <div class="modal-header">
                      <h4 class="modal-title">continue to delete item</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button> 
                        <input type="submit"  class="btn btn-grad" style="background-color: green;" value="Add Item">
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>  
        </form>
    </div>

{% endblock %}